@use 'base/variables' as v;
@use 'base/mixins' as m;

.alert {
    padding: 1.5rem 1.5rem 1.5rem 3rem;
    text-transform: uppercase;
    margin: 1rem 0;
    font-size: 1.2rem;
    font-weight: v.$bold;

    &__success {
        background-color: lighten(v.$red, 60%);
    }

    &__error {
        background-color: lighten(v.$red, 63%);
        border-left: 0.5rem solid v.$red;
        color: v.$red;
    }
}
