@use 'variables' as v;

/** Media Queries **/
@mixin mobile {
    @media (min-width: v.$mobile) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}
@mixin xl_desktop {
    @media (min-width: v.$xl_desktop) {
        @content;
    }
}

@mixin button($bgColor, $textColor) {
    background-color: $bgColor;
    padding: 1.5rem 4rem;
    color: $textColor;
    font-size: 1.8rem;
    font-weight: 700;
    border: none;
    transition-property: background-color;
    transition-duration: 0.3s;
    text-align: center;
    width: 100%;
    display: inline-block;
    border-radius: 0.24rem;

    &:hover {
        background-color: darken($bgColor, 10%);
        cursor: pointer;
    }
}

@mixin grid($columns, $spacing) {
    display: grid;
    gap: $spacing;
    grid-template-columns: repeat($columns, 1fr);
}

// BEM
@mixin container {
    // width: min(95%, 120rem);
    width: min(95%, 140rem);
    margin: 0 auto;
}

@mixin container-sm {
    width: min(95%, 60rem);
    margin: 0 auto;
}

@mixin headings {
    font-family: v.$main_font;
    font-weight: v.$black;
    margin: 2rem 0;
}

@mixin page-name {
    @include headings;
    margin: 6rem 0 3rem 0;
    text-align: center;
}

@mixin fluid-text($min, $max) {
    // responsive without mq
    font-size: clamp($min, -0.8rem + 10vw, $max);
}

@mixin gradient-text($start, $end) {
    background: linear-gradient(to right, $start, $end);
    background-clip: text;
    color: transparent;
}
