@use 'base/mixins' as m;
@use 'base/variables' as v;

.dashboard {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: v.$light-gray;

    &__header {
        background-color: v.$dark-gray;
        padding: 2rem;
    }

    &__header-grid {
        display: flex;
        flex-direction: column;

        @include m.tablet {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__logo {
        @include m.logo;
        @include m.fluid-text(2rem, 3rem);
    }

    &__form {
        display: flex;
        justify-content: center;
    }

    &__submit--logout {
        @include m.link;
    }
}
